.spinner{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    &__item{
        width: 1em;
        height: 1em;
        background: #aed3f2; // home color
        scale: 0.5;
        animation: send 1500ms infinite;
        @for $i from 0 through 6{
            &:nth-child(#{$i + 1}){
                animation-delay: $i * 100ms;
            }
        }
    }
}

@keyframes send {
    to {
        scale: 1;
        translate: 20em;
    }
}